html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #0f1115;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.main-title {
    font-size: 2rem;
    letter-spacing: 0.05em;
}

/* Header layout tweaks */
.header-bar {
    padding: 0 16px;
}

.nav-links {
    display: flex;
    gap: 16px;
    align-items: center;
    color: #C8C8C8;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
   
}

.nav-links a{
     padding: 5px;
}

.nav-links a:hover{
    color: #2dd4bf;
}

.logo {
    background: linear-gradient(to right, #0d9488, #f97316);
    -webkit-background-clip: text; /* For Chrome, Safari */
    -webkit-text-fill-color: transparent; /* For Chrome, Safari */
    background-clip: text; /* For Firefox */
    color: transparent;
    font-size: 1.5rem;
    font-weight: bold; /* optional */
}